// various breakpoints for use in media queries

$lg-computer-breakpoint: 1800px;
$xl-tablet-breakpoint: 900px;
$lg-tablet-breakpoint: 800px;
$md-tablet-breakpoint: 700px;
$md-tablet-breakpoint-v2: 650px;
$sm-tablet-breakpoint: 600px;
$sm-tablet-breakpoint-v2: 550px;
$xs-tablet-breakpoint: 500px;
$xs-tablet-breakpoint-v2: 450px;
$mobile-breakpoint: 400px;
$md-mobile-breakpoint: 375px;
$xs-mobile-breakpoint: 300px;
