// vendor prefix mixin

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $value;
    #{$property}: $value;
  }
}

// mixin for writing flexbox DRY
@mixin flexbox-config(
  $justify-content: false,
  $flex: false,
  $flex-direction: false,
  $align-items: false
) {
  display: flex;

  @if $justify-content != false {
    justify-content: $justify-content;
  }

  @if $flex != false {
    flex: $flex;
  }

  @if $flex-direction != false {
    flex-direction: $flex-direction;
  }

  @if $align-items != false {
    align-items: $align-items;
  }
}

// Media query mixins

@mixin xl-screens {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin sm-desktop {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin xl-tablets {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin lg-tablets {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin lg-tablets-max-width {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin md-tablets {
  @media (min-width: 700px) {
    @content;
  }
}
@mixin md-tablets-v2 {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin sm-tablets {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin sm-tablets-max-width {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin sm-tablets-v2 {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin xs-tablets {
  @media (min-width: 500px) {
    @content;
  }
}
@mixin xs-tablets-v2 {
  @media (min-width: 450px) {
    @content;
  }
}
@mixin main-phone-breakpoint {
  @media (min-width: 400px) {
    @content;
  }
}
@mixin md-phone {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin extra-sm-phones {
  @media (min-width: 300px) {
    @content;
  }
}

@mixin extra-sm-phones-max {
  @media (max-width: 300px) {
    @content;
  }
}
@mixin xxs-mobile-breakpoint {
  @media (min-width: 255px) and (max-width: 299px) {
    @content;
  }
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin abs-position($top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;

  @if $top != false {
    top: $top;
  }

  @if $right != false {
    right: $right;
  }

  @if $bottom != false {
    bottom: $bottom;
  }

  @if $left != false {
    left: $left;
  }
  // top: $top;
  // right: $right;
  // bottom: $bottom;
  // left: $left;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
