// Font size variables to be used throughout project
$HeadingOne: 150px;
$HeadingTwo: 100px;
$HeadingThree: 56px;
$HeadingFour: 32px;
$HeadingFive: 28px;
$subHeadingOne: 28px;
$subHeadingTwo: 14px;
$navText: 16px;
$bodyText: 18px;
