// Font size variables to be used throughout project
$lg-heading-font-mobile: 28px;
$lg-heading: 28px;
$sidebar: 18px;
$lg-heading-font-desktop: 44px;
$rg-heading-font: 12px;
$body-font: 15px;
$rg-font: 16px;
$desktop-sm-heading-font: 13px;
