@use '../abstracts/' as *;

// indicators
// tech buttons
.exploreBtn {
  margin-top: 3rem;
  padding: 2rem;
  width: 150px;
  height: 150px;
  background-color: $white;
  color: $black;
  border-radius: 50%;
}
