@use "../abstracts" as a;

.counter {
  flex: 1 1 30%;
  @include a.lg-tablets-max-width {
    margin-bottom: 1em;
  }
  .counter__btn {
    max-width: 100%;
    border: none;
    width: calc(100% - 20px);
    height: 56px;
    @include a.flexbox-config(
      $flex-direction: row,
      $justify-content: space-around,
      $align-items: center
    );
    padding: 0.4em 0.2em;
    border-radius: 10px;
    cursor: pointer;
    background-color: a.$counter;
  }
}

.counter__btn-inner {
  &:hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(29%) saturate(6944%)
      hue-rotate(347deg) brightness(130%) contrast(101%);
  }
}
