@use "../abstracts/" as a;

.navigation {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1200px;
  border-bottom: 2px solid #e4e9f2;
  height: 75px;
  @include a.flexbox-config(
    $flex-direction: row,
    $justify-content: space-between,
    $align-items: center
  );
  @include a.lg-tablets {
    margin-top: 2em;
    justify-content: space-around;
    align-items: baseline;
    height: auto;
    width: calc(100vw - 2em);
  }
}

.navigation__first-section {
  @include a.flexbox-config($flex-direction: row);
}
.navigation-items {
  @include a.flexbox-config($flex-direction: row);
  margin-left: 2em;
  @include a.lg-tablets-max-width {
    display: none;
  }

  .navigation__items-item {
    margin-right: 1.5em;
    color: a.$light-gray;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: a.$black-text;
    }
    // for transitioning border effect
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 5px;
      background: a.$orange;
      transition: width 0.3s;
      margin-top: 2em;
    }
  }
}

.navigation__items-item:hover::after {
  width: 100%;
}

.navigation__hamburger {
  @include a.flexbox-config($flex-direction: row, $align-items: baseline);
}
.navigation__hamburger-icons {
  margin: 0 0.5em;
  z-index: 1600;
  @include a.lg-tablets {
    display: none;
  }

  .close-menu {
    @include a.sm-tablets-max-width {
      display: none;
    }
  }
}

.open-menu.active {
  display: none;
}

.close-menu.active {
  display: block;
}

.cart-wrapper {
  @include a.flexbox-config($flex-direction: row, $align-items: center);
  position: relative;
  > * {
    cursor: pointer;
  }
  .cart-wrapper__item {
    margin: {
      top: 0.5em;
      right: 2em;
    }
    @include a.lg-tablets {
      margin-top: 0;
    }
    position: relative;
  }
  .cart-wrapper__item-count {
    background-color: orange;
    width: 25px;
    position: absolute;
    height: 20px;
    top: -52%;
    right: -63%;
    color: white;
    border-radius: 42%;
    display: flex;
    z-index: 300;
    padding: 0.4em;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 279px) {
  .navigation {
    justify-content: center;
    flex-wrap: wrap;
  }
}
