@use "../abstracts" as *;

.sidebar {
  width: 70vw;
  min-height: 200vh;
  position: absolute;
  z-index: 1500;
  padding: 5rem 0 0 1rem;
  top: 0;
  bottom: 0;
  left: -100%;
  transition: all ease-in-out 1s;
  background-color: $white;

  @include sm-tablets {
    display: none;
  }
  .sidebar__nav {
    .sidebar__nav-item {
      color: $black-text;
      font-size: $sidebar;
      font-weight: 600;
      margin-bottom: 1em;
    }
  }
}

.sidebar.active {
  left: 0;
  animation: 0.5s ease-in-out slide-in;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
