@use "../abstracts/" as a;

// for lightbox modal nav btns

.slider__gallery-item-prev,
.slider__gallery-item-next {
  top: 50%;
  position: absolute;
  cursor: pointer;
  z-index: 1100;
  border: 1px solid black;
  border-radius: 50%;
  padding: 1em;
  background: white;
  &:hover {
    background-color: orange;
  }
}

.slider__gallery-item-prev {
  left: -4%;
}

.slider__gallery-item-next {
  right: -4%;
}
