@use '../abstracts/' as *;

.nav {
  width: 100vw;
  height: 100px;
  display: flex;
  position: relative;
  background-color: transparent;
  @include flexbox-config(
    $justify-content: space-between,
    $align-items: center
  );

  .hamburgerContainer {
    margin: 0 1rem;
    @include xs-tablets {
      display: none;
    }

    .closeMenu {
      display: none;
    }

    .hamburger {
      @include xs-tablets {
        display: none;
      }
    }
  }
}

.logo {
  margin: 0 1rem;
  max-width: 48px;
  height: 48px;
  @include xs-tablets {
    width: 48px;
  }
}

.hr {
  display: none;
  @include sm-desktop {
    position: absolute;
    z-index: 500;
    display: block;
    background-color: #979797;
    width: 60%;
    height: 1px;
    left: -49%;
    line-height: 80%;
  }
}

.navList {
  display: none;
  position: absolute;
  right: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 40%);
  min-height: 100vh;
  background-color: black;
  @include xs-tablets {
    @include flexbox-config(
      $flex-direction: row,
      $justify-content: center,
      $align-items: center
    );
    position: relative;
    width: calc(100vw - 40%);
    height: 100%;
    display: block;
    padding: 0 10rem;
    @include xs-tablets {
      // background-color: $nav-bg;
      // background-color: #0b0d17;
      background-color: rgba(51, 170, 51, 0.1);
      // opacity: 0.2;
      @include flexbox-config($justify-content: center, $align-items: center);
    }
  }
  .navListItem {
    color: $white;
    text-transform: uppercase;
    margin: 0 1em;
    list-style: none;
    display: flex;
    font-weight: 700;
    letter-spacing: 2.7px;
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 5px;
      background: $white;
      transition: width 0.3s;
      margin-top: 2em;
    }
    .navListItemNo {
      // @include lg-tablets-max-width {
      display: none;
      // }
      @include sm-desktop {
        display: block;
        color: $white;
        margin-right: 1em;
        font-weight: 400;
      }
    }
  }
}

.navListItem:hover:after {
  width: 100%;
}
