@use '../abstracts' as *;

.sidebar {
  width: 70vw;
  min-height: 200vh;
  position: absolute;
  z-index: 1500;
  padding: 5rem 0 0 1rem;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: all ease-in-out 1s;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);

  @include sm-tablets {
    display: none;
  }
  .sidebarList {
    .sidebarItem {
      color: $lilac;
      margin-top: 1rem;
      .sidebarItemNo {
        color: $white;
        margin-right: 1em;
      }
    }
  }
}

.sidebar.active {
  right: 10px;
  animation: 0.5s ease-in-out slide-in;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
