.sidebar {
  width: 70vw;
  min-height: 200vh;
  position: absolute;
  z-index: 1500;
  padding: 5rem 0 0 1rem;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: all ease-in-out 1s;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
@media (min-width: 600px) {
  .sidebar {
    display: none;
  }
}
.sidebar .sidebarList .sidebarItem {
  color: #d0d6f9;
  margin-top: 1rem;
}
.sidebar .sidebarList .sidebarItem .sidebarItemNo {
  color: #ffffff;
  margin-right: 1em;
}

.sidebar.active {
  right: 10px;
  animation: 0.5s ease-in-out slide-in;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.nav {
  width: 100vw;
  height: 100px;
  display: flex;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .hamburgerContainer {
  margin: 0 1rem;
}
@media (min-width: 500px) {
  .nav .hamburgerContainer {
    display: none;
  }
}
.nav .hamburgerContainer .closeMenu {
  display: none;
}
@media (min-width: 500px) {
  .nav .hamburgerContainer .hamburger {
    display: none;
  }
}

.logo {
  margin: 0 1rem;
  max-width: 48px;
  height: 48px;
}
@media (min-width: 500px) {
  .logo {
    width: 48px;
  }
}

.hr {
  display: none;
}
@media (min-width: 1000px) {
  .hr {
    position: absolute;
    z-index: 500;
    display: block;
    background-color: #979797;
    width: 60%;
    height: 1px;
    left: -49%;
    line-height: 80%;
  }
}

.navList {
  display: none;
  position: absolute;
  right: -100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 40%);
  min-height: 100vh;
  background-color: black;
}
@media (min-width: 500px) {
  .navList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: calc(100vw - 40%);
    height: 100%;
    display: block;
    padding: 0 10rem;
  }
}
@media (min-width: 500px) and (min-width: 500px) {
  .navList {
    background-color: rgba(51, 170, 51, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.navList .navListItem {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 1em;
  list-style: none;
  display: flex;
  font-weight: 700;
  letter-spacing: 2.7px;
  cursor: pointer;
}
.navList .navListItem:after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #ffffff;
  transition: width 0.3s;
  margin-top: 2em;
}
.navList .navListItem .navListItemNo {
  display: none;
}
@media (min-width: 1000px) {
  .navList .navListItem .navListItemNo {
    display: block;
    color: #ffffff;
    margin-right: 1em;
    font-weight: 400;
  }
}

.navListItem:hover:after {
  width: 100%;
}

.container {
  min-height: 100vh;
  background-image: url("../../public/assets/crew/background-crew-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .container {
    background-image: url("../../public/assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 1000px) {
  .container {
    background-image: url("../../public/assets/crew/background-crew-desktop.jpg");
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.container .header {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4.72px;
  font-size: clamp(1.25rem, 1.125rem + 0.714vw, 1.75rem);
  margin: 2rem 0;
}
@media (min-width: 500px) {
  .container .header {
    align-self: flex-start;
    padding-left: 2em;
  }
}
.container .header > span {
  color: #979797;
  margin-right: 1rem;
}

.position {
  font-size: clamp(1rem, 0.75rem + 1.429vw, 2rem);
  text-transform: uppercase;
  color: #979797;
  font-family: "Bellefair", serif;
  font-weight: 400;
}

.name {
  font-size: clamp(1.5rem, 1rem + 2.857vw, 3.5rem);
  text-transform: uppercase;
  color: #ffffff;
  max-width: 100%;
  font-family: "Bellefair", serif;
  font-weight: 400;
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.blurb {
  font-size: clamp(0.938rem, 0.891rem + 0.268vw, 1.125rem);
  padding: 1em 1.2em;
  color: #d0d6f9;
}
@media (min-width: 1000px) {
  .blurb {
    padding: 0;
    max-width: 75%;
  }
}

.imgContainer {
  flex: 0 2 auto;
  border-bottom: 0.1px solid white;
  /* padding-bottom: 1em; */
  display: flex;
  justify-content: center;
}
.imgContainer .crewImg {
  display: block;
  height: auto;
  width: clamp(10.438rem, 5.672rem + 21.518vw, 35.5rem);
}
@media (min-width: 500px) {
  .imgContainer .crewImg {
    bottom: 0%;
  }
}
@media (min-width: 700px) {
  .imgContainer .crewImg {
    bottom: -10%;
  }
}
@media (min-width: 1000px) {
  .imgContainer .crewImg {
    bottom: 0;
  }
}
@media (min-width: 500px) {
  .imgContainer {
    border-bottom: none;
  }
}

.textContainer {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .textContainer {
    padding: 0;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .textContainer {
    flex-wrap: wrap-reverse;
  }
}
@media (min-width: 1000px) {
  .textContainer {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1000px;
    align-items: flex-start;
  }
}
.textContainer .text {
  flex: 1 1 auto;
  max-width: clamp(25rem, 20.313rem + 9.786vw, 43.75rem);
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .textContainer .text {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.indicatorList {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 500px) {
  .indicatorList {
    order: 2;
  }
}
@media (min-width: 1000px) {
  .indicatorList {
    margin-bottom: 0;
    margin-top: 15rem;
  }
}
.indicatorList .indicators {
  width: 15px;
  height: 15px;
  background-color: #979797;
  cursor: pointer;
  border-radius: 50%;
  margin-left: clamp(0.625rem, 0.547rem + 0.446vw, 0.938rem);
  margin-right: clamp(0.625rem, 0.547rem + 0.446vw, 0.938rem);
}
.indicatorList .indicators:hover {
  background-color: #ffffff;
}

.destination {
  min-height: 100vh;
  background-image: url("../../public/assets/destination/background-destination-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .destination {
    background-image: url("../../public/assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 1000px) {
  .destination {
    background-image: url("../../public/assets/destination/background-destination-desktop.jpg");
    flex-direction: column;
    justify-content: center;
  }
}
.destination .header {
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 4.72px;
  font-size: clamp(1.25rem, 1.125rem + 0.714vw, 1.75rem);
  margin: 2rem 0;
  font-size: clamp(1rem, 0.813rem + 1.071vw, 1.75rem);
}
@media (min-width: 500px) {
  .destination .header {
    align-self: flex-start;
    padding-left: 2em;
  }
}
.destination .header > span {
  color: grey;
  margin-right: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5em;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: space-between;
  }
}
.container .planetImg {
  display: block;
  height: auto;
  margin-bottom: 0.5rem;
  width: clamp(10.625rem, 6.328rem + 24.554vw, 27.813rem);
  height: clamp(10.625rem, 6.328rem + 24.554vw, 27.813rem);
}
.container .textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .container .textContainer {
    align-items: baseline;
  }
}
.container .textContainer .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
@media (min-width: 500px) {
  .container .textContainer .text {
    padding: 0;
  }
}
.container .textContainer .text .planetHeading {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: clamp(3.5rem, 2.813rem + 3.929vw, 6.25rem);
}
@media (min-width: 1000px) {
  .container .textContainer .text .planetHeading {
    align-self: flex-start;
  }
}
.container .textContainer .text .planetText {
  text-align-last: center;
  max-width: 20em;
  font-size: clamp(0.938rem, 0.891rem + 0.268vw, 1.125rem);
  margin: 1em 0;
  color: var(--lilac-not-active-color);
  padding-bottom: 2em;
  border-bottom: 0.1px solid currentColor;
}
.container .planetList {
  display: flex;
  flex-direction: row;
}
.container .planetList .planetListItem {
  color: currentColor;
}

.planetFacts {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.planetFacts .dataList {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.planetFacts .dataList .dataListItem {
  color: #d0d6f9;
  letter-spacing: 2.36px;
  margin: 1em 0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .planetFacts .dataList .dataListItem {
    margin-right: 1em;
  }
}
.planetFacts .dataList .dataListItem .value {
  margin-top: 0.5em;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
}
@media (min-width: 1000px) {
  .planetFacts .dataList .dataListItem .value {
    align-self: flex-start;
  }
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-top: 2rem;
  min-height: 100svh;
  background-image: url("../../public/assets/home/background-home-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 500px) {
  .container {
    background-image: url("../../public/assets/home/background-home-tablet.jpg");
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 0;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .container {
    background-image: url("../../public/assets/home/background-home-desktop.jpg");
    flex-direction: row;
    justify-content: space-around;
  }
}
.container .text {
  display: inline-flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 1000px) {
  .container .text {
    align-items: flex-start;
  }
}
.container .text .header {
  font-size: clamp(5rem, 3.906rem + 6.25vw, 9.375rem);
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
}
.container .text .introText {
  text-align-last: center;
  padding: 1rem;
  margin: 2rem 0;
  color: #d0d6f9;
  font-size: clamp(0.938rem, 0.891rem + 0.268vw, 1.125rem);
}
@media (min-width: 500px) {
  .container .text .introText {
    padding: 1em 0;
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .container .text .introText {
    text-align-last: revert;
  }
}

.standFirst {
  font-weight: 400;
  font-size: clamp(1rem, 0.813rem + 1.071vw, 1.75rem);
  text-transform: uppercase;
  letter-spacing: 4.75px;
  padding: 1em 0;
}

.exploreBtnContainer {
  display: flex;
  justify-content: center;
}
.exploreBtnContainer .exploreBtn {
  margin-top: 3rem;
  padding: 2rem;
  width: clamp(9.375rem, 7.469rem + 10.893vw, 17rem);
  height: clamp(9.375rem, 7.469rem + 10.893vw, 17rem);
  font-size: clamp(1.25rem, 1.063rem + 1.071vw, 2rem);
  background-color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #0b0d17;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.exploreBtnContainer .exploreBtn:hover {
  -webkit-box-shadow: 2px 0px 0px 66px rgba(151, 151, 151, 0.21);
  -moz-box-shadow: 2px 0px 0px 66px rgba(151, 151, 151, 0.21);
  box-shadow: 2px 0px 0px 66px rgba(151, 151, 151, 0.21);
}

.subNav {
  margin: 1rem;
}
.subNav .subNavList {
  display: flex;
  flex-direction: row;
}
.subNav .subNavList .subNavListItem {
  color: var(--lilac-not-active-color);
  text-transform: uppercase;
  letter-spacing: 2.36px;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.844rem + 0.179vw, 1rem);
  font-weight: 400;
  transition: color 0.5s ease-in-out;
  margin: 0 1rem;
  padding-bottom: 1em;
}
.subNav .subNavList .subNavListItem:first-of-type {
  margin-left: 0;
}
.subNav .subNavList .subNavListItem:after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: var(--active-color);
  transition: width 0.3s;
  margin-top: 2em;
}
.subNav .subNavList .subNavListItem:hover {
  color: var(--active-color);
}

.subNavListItem:hover:after {
  width: 100px;
}

.container {
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url("../../public/assets/technology/background-technology-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .container {
    background-image: url("../../public/assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 1000px) {
  .container {
    background-image: url("../../public/assets/technology/background-technology-desktop.jpg");
    flex-direction: column;
  }
}
.container .header {
  text-transform: uppercase;
  color: #ffffff;
  font-size: clamp(1.25rem, 1.125rem + 0.714vw, 1.75rem);
  display: flex;
  margin: 2rem 0;
  letter-spacing: 3.38px;
}
@media (min-width: 500px) {
  .container .header {
    align-self: flex-start;
    padding-left: 2em;
  }
}
@media (min-width: 1000px) {
  .container .header {
    padding-left: 4em;
  }
}
.container .header > span {
  color: grey;
  margin-right: 1rem;
}
.container .imgContainer {
  flex: 0 2 100%;
  width: 100%;
}
@media (min-width: 1000px) {
  .container .imgContainer {
    order: 2;
  }
}
.container .imgContainer .techImg {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 1000px) {
  .container .imgContainer .techImg {
    display: none;
  }
}
.container .imgContainer .techImgPortrait {
  display: none;
}
@media (min-width: 1000px) {
  .container .imgContainer .techImgPortrait {
    display: flex;
    height: auto;
    max-width: 100%;
    width: 100%;
  }
}
.container .text {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  order: 2;
}
@media (min-width: 1000px) {
  .container .text {
    flex-direction: row;
    order: 1;
  }
}

.textContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1000px) {
  .textContainer {
    margin-top: 0px;
    align-items: flex-start;
    max-width: 60%;
  }
}
.textContainer .terminology {
  font-size: clamp(0.875rem, 0.844rem + 0.179vw, 1rem);
  font-weight: 400;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #d0d6f9;
}
.textContainer .technologyType {
  font-size: clamp(1.5rem, 1rem + 2.857vw, 3.5rem);
  font-weight: 400;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0.6em 0;
}
.textContainer .techBlurb {
  font-weight: 400;
  color: #d0d6f9;
  font-size: clamp(0.938rem, 0.891rem + 0.268vw, 1.125rem);
  max-width: clamp(300px, 0.891rem + 0.268vw, 500px);
}
@media (min-width: 1000px) {
  .textContainer .techBlurb {
    max-width: 100%;
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .headerContainer {
    align-self: flex-start;
  }
}

.mainSection {
  width: 100%;
}
@media (min-width: 1000px) {
  .mainSection {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
}

.navigators {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1000px) {
  .navigators {
    flex-direction: column;
    margin-top: 0;
    margin-right: 5em;
  }
}
.navigators .navigatorsItems {
  margin: 0.6em;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding: 1.2rem;
  border: 1px solid grey;
  border-radius: 50%;
}
.navigators .navigatorsItems:hover {
  border: 1px solid #ffffff;
}
.navigators .navigatorsItems:active {
  background-color: #ffffff;
  color: #0b0d17;
}

.dataList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 500px) {
  .dataList {
    flex-direction: row;
  }
}
.dataList .dataListItem {
  color: currentColor;
}

/*# sourceMappingURL=style.css.map */
